<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Account activation</title>
</head>

<body style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;">
<div style="display:block; font:14px/25px Tahoma, Geneva, sans-serif; color:#31557e; max-width:800px; padding:20px;">
<h3>Hello {user_email}</h3>
<p style="margin-top:20px">Your account activation information is given below, Please click the link below to activate your account.</p>
<p style="margin-top:20px">Activation URL: <a href="{activate_url}">Click here</a> to activate your {domain_name} acccount.</p>
<p style="margin-top:20px">if the link above does not work copy and paste {activate_url} into your web browser.</p>
<p style="margin-top:20px"><strong>NOTE: Do not reply this notification it will go no where</strong></p>
<p style="margin-top:20px">Note: This email is sent from {domain_name} to {user_email}. If you are not intended recipient of this email or you have received this email in error then delete this email and related files immediately from your inbox and deleted folder too and take no further action.</p>

</div>
</body>
</html>